*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

#lava-lamp {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(0, -50%);
}